body{
    background-color: #52A2FA;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #404850;
    text-align: center;
}

.projects { 
    display: flex; 
    flex-wrap: wrap; 
}
.project {
    width: 40%;
    margin: 10px;
    padding: 30px 25px;
    background: #B405F2;
    border-radius: 25%;
}
